<template name="header">
         <header>
                  <h1>My To Do List!</h1>
         </header>
</template>

<template name="form">
         <form class="add-new-task">
                  <input/>
                  <button>Submit</button>
         </form>
</template>

<template name="todos">
         <ul>
                  {{#each todoList}}
                  <li>{{this.name}}</li>
                  {{/each}}
         </ul>
</template>